name: Continuous Integration
on:
  push:
    branches:
      - dev-pyqt6
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  OSU_API_VERSION: ${{ vars.OSU_API_VERSION }}
  OSU_SERVER: ${{ vars.OSU_SERVER }}
  OSU_CLIENT_ID: ${{ vars.OSU_CLIENT_ID }}
  OSU_CLIENT_SECRET: ${{ secrets.OSU_CLIENT_SECRET }}
  OSU_REDIRECT_URI: ${{ vars.OSU_REDIRECT_URI }}
  OSU_SCOPE: ${{ vars.OSU_SCOPE }}

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.14"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Test with unittest
        run: |
          python -m unittest
